{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'css/login.css'%}">
    <title>Metro Brands</title>
</head>
<body>
    <div class="containerBx">
        <div class="formBx">
          <div class="outerFormBX">
            <div class="innerFormBx">
                <div class="formTitle">
                    <h1>Login to Your Account</h1>
                </div>
                <div class="signDiv">
                    <button><img src="{%static 'css/icons/google.png'%}" alt="googleIcon"><span>Sign in with Google</span></button>
                    <button><img src="{%static 'css/icons/apple.png'%}" alt="aapleIcon"><span>Sign in with Apple</span></button>
                </div>
                <span class="or">---  OR  ---</span>
                <div class="formDiv">
                    <form method="POST", action=""> 
                        {% csrf_token %}
                        <div class="inputBx">
                            <input type="text" placeholder="User Name" name="username">
                            <input type="password" placeholder="Password" name="password">
                        </div>
                        <div class="options">
                            <span>Forgot Password</span>
                        </div>
                        <button class="loginBtn" type="submit">Login to Your Account</button>
                    </form>
                </div>
               </div>
          </div>
        </div>
    </div>
</body>
</html>