
.Address {
    text-align: left;
    font-family: Calibri;
    font-size: 0.9em;
    margin: 0.6em;
    color: black;
    font-style: normal;
    font-weight: bold;
}

.Designation {
    text-align: left;
    font-family: Calibri;
    font-size: 1.1em;
    color: black;
    font-style: normal;
    font-weight: bold;
}

.Khaitan {
    text-align: left;
    font-family: Calibri;
    font-size: 1.1em;
    margin: 0.4em;
    color: black;
    font-weight: bold;
}

.canvas {
    width: 100%;
    border: 1px solid #FFC125;
    background-color: #ffffff;
    -moz-box-shadow: 3px 3px 8px #222;
    -webkit-box-shadow: 3px 3px 8px #222;
    box-shadow: 3px 3px 8px #222;
    margin-left: 10px;
    border-radius: 5px;
}
