{%load static%}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/visitcard.css'%}">
    <title>Metro Brands</title>
</head>
<body>
    <div class="card">
            <div class="header-card">
                <img class="mbLogo" src="{%static 'css/icons/metrobrandslogobig.png'%}"><img src="{{data.qr_code.url}}" class="qrcode" width="100px" height="100px"></span>
            </div>

        <div class="holder-name">
            <div class="holder-child">
                <span style="color: #cb011b; font-size: large;">{{data.first_name}} {{data.last_name}}</span><br>
                <span style="margin-left: 2px;">{{data.designation}}</span>
            </div>
        </div>

         <div class="card-info">
             <p class="add-name">Metro Brands</p>
            <div class="card-add">
               
            <span class="card-data">
                401, Kanakia Zillion, <br>LBS Marg and CST Road,<br> Kurla West, Junction,<br> Mumbai - 400077, India.</span>
            <span class="contact">
                <p>T : <span>+91 22 6656 0444</span></p>
                <p>M  : <span>+91 {{data.phone}}</span></p>
                <p>E  : <span>{{data.email}}</span></p>
            </span>
            </div>
            <div class="card-tel"></div>
         </div>
    </div>
</body>
</html>
