
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.containerBx {
    width: 100vw;
    height: 100vh;
    background-image: url("./bg.png");
    background-position: inherit;
    background-size: cover;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 80px;
}
.formBx {
    width: 60%;
    background: #fff;
    height: 90%;
    padding: 25px;
    border-radius: 5px;
}
.formInnerBx {
    border: 1px solid #545559;
    height: 100%;
    border-radius: 5px;
}
.logo {
    display: flex;
    justify-content: center;
    padding: 40px;
}
.logo img {
    width: 200px;
}
.formDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.formDiv form {
    width: 80%;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.col {
    display: flex;
    flex-direction: column;
}   
